p{
    margin-left: 5em;
}


label{
    width:80px;
    display:inline-block;
    text-align: right;
}
button{
    width: 80px;
    background-color: aqua;
    margin-left: 6.7em;
}

table{
    width: 80%;
    margin-left: 5em;
    border: 1px solid black;
    border-collapse: collapse;
}
th,td{
    border: 1px;
    text-align: center;

}